[submodule "IDECO"]
	path = IDECO
	url = https://github.com/RiCkymare00/IDECO.git
[submodule "SI&O"]
	path = SI&O
	url = https://github.com/RiCkymare00/SIEO.git
[submodule "BELLANTI"]
	path = BELLANTI
	url = https://github.com/RiCkymare00/BELLANTI.git
[submodule "CROLLA"]
	path = CROLLA
	url = https://github.com/RiCkymare00/CROLLA.git
[submodule "STERIFIT"]
	path = STERIFIT
	url = https://github.com/RiCkymare00/STERIFIT.git
[submodule "BRUSCHI"]
	path = BRUSCHI
	url = https://github.com/RiCkymare00/BRUSCHI.git
